<header class="TopHeader">
      
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
            
            <div class="d-flex flex-row-reverse TopHeaderRow">
                
                <div class="col">
                      <div class="TopHeaderProfile">
                          <div class="Profile-pic">
                              <img src="assets/images/profile-pic.jpg" alt="">
                          </div>
                          <div class="Profile-cont">
                              <h5 class="profile-name">Json Taylor</h5>
                              <p class="profile-designation">Fournisseur</p>
                          </div>
                      </div>
                </div>
                
                <div class="col">
                
                    <button class="btn btn-fullscreen" onclick="var el = document.getElementById('element'); el.webkitRequestFullscreen();"><img src="assets/images/fullscreen-icon.svg" alt=""></button>
                
                </div>
                
                <div class="col">
                    <button class="btn btn-notification">
                        <span>5</span>
                        <img src="assets/images/notification-icon.svg" alt=""></button>
                </div>
                
                <div class="col">
                    <button class="btn btn-darkmode"><img src="assets/images/darkmode-icon.svg" alt=""></button>
                </div>
                
                <div class="col">
                  <button class="btn btn-phone">
                      <img src="assets/images/phone-icon.svg" alt="">
                    </button>
                </div>
                
                <div class="col">
                  <button class="btn btn-search">
                      <img src="assets/images/search-icon.svg" alt="">
                    </button>
                </div>
                
                
                <div class="col me-auto">
                
                    <button class="btn btn-close-icon"><img src="assets/images/close-icon.svg" alt=""></button>
                
                </div>
                
            
            </div>
              
        </div>
    
    </div>
        </div>

</header>