body{
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
}

.TopHeader{
    background-color: #FFF;
    height: 60px;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 9;
    padding-inline-start: 80px;
}

.TopHeaderRow{
    margin-left: auto;
}

.TopHeaderRow .col{
    flex: none;
    padding-left: 15px;
    padding-right: 15px;
}

.TopHeaderProfile{
    display: flex;
    width: auto;
    padding-top: 12px;
}

.TopHeaderProfile .Profile-pic{
    display: flex;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
}

.Profile-cont h5, .Profile-cont p{
    margin-bottom: 0px;
}

.Profile-cont h5{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
}

.Profile-cont p{
    font-size: 11px;
    color: #535353;
}

.TopHeader .btn{
    display: flex;
    align-items: center;
}
    

.TopHeader .btn:hover{
    background-color: #f2f2f2;
}

.TopHeader .btn-fullscreen{
    margin: 0px;
    margin-top: 15px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.TopHeader .btn-fullscreen:focus{
    box-shadow: none;
}
.TopHeader .btn-notification{
    margin: 0px;
    margin-top: 15px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.TopHeader .btn-notification:focus{
    box-shadow: none;
}
.TopHeader .btn-notification span{
    position: absolute;
    top: -2px;
    right: -2px;
    width: 16px;
    height: 16px;
    background-color: #f70808;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: #FFF;
    border-radius: 50%;
}


.TopHeader .btn-darkmode{
    margin: 0px;
    margin-top: 15px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.TopHeader .btn-darkmode:focus{
    box-shadow: none;
}
.TopHeader .btn-phone{
    margin: 0px;
    margin-top: 15px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.TopHeader .btn-phone:focus{
    box-shadow: none;
}

.TopHeader .btn-search{
    margin: 0px;
    margin-top: 15px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.TopHeader .btn-search:focus{
    box-shadow: none;
}

.TopHeader .btn-close-icon{
    margin: 0px;
    margin-top: 15px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.TopHeader .btn-close-icon:focus{
    box-shadow: none;
}

.left-sidebar{
    background-color: #00233B;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9;
    width: 80px;
}

.left-sidebar .left-sidebar-header {
    height: 3.75rem;
    width: 80px;
    position: fixed;
    display: flex;
    z-index: 9;
    align-items: center;
    justify-content: center;
    padding: 0.813rem 1.25rem;
    border-inline-end: 1px solid rgba(240, 249, 255, 0.30);
    border-block-end: 1px solid rgba(240, 249, 255, 0.30);
    transition: all 50ms ease;
}
.left-sidebar .left-sidebar-header img{
    width: 50px;
}

.left-sidebar-menu{
    padding-top: 120px;
}

.left-sidebar-menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.left-sidebar-menu ul li {
    display: block;
}

.left-sidebar-menu ul li a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    transition: .25s;
    border-radius: 50%;
}
.left-sidebar-menu ul li a:hover{
    background-color: rgba(247, 8, 8, 0.4);
    
}
.left-sidebar-menu ul li button.btn.btn-exit{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 50%;
    transition: .25s;
}
.left-sidebar-menu ul li button.btn.btn-exit:focus{
    box-shadow: none;
}
.left-sidebar-menu ul li button.btn.btn-exit:hover{
    background-color: rgba(247, 8, 8, 0.4);
}
.left-sidebar-menu ul li img{
    max-width: 20px;
    max-height: 20px;
}


.notification-number{
    position: absolute;
}
.left-sidebar-menu ul li.active a{
    background-color: #F70808;
    border-radius: 50%;
}
.left-sidebar-menu ul li.notification-nav a img{
    filter: invert(1);
}
.left-sidebar-menu ul li.phone-nav a img{
    filter: invert(1);
}
.left-sidebar-menu ul li.notification-nav a{
    position: relative;
}
.left-sidebar-menu ul li.notification-nav a:focus{
    box-shadow: none;
}
.left-sidebar-menu ul li.notification-nav a span {
    position: absolute;
    top: 3px;
    right: 6px;
    width: 14px;
    height: 14px;
    background-color: #f70808;
    font-size: 9px;
    font-weight: 400;
    line-height: 13px;
    color: #FFF;
    border-radius: 50%;
    z-index: 2;
}




/**login_page css starts**/

.login_page_sec{
    background-color: #00233B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login_page_sec img.main_logo{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
}
.login_page_sec .login_form{
    margin-top: 80px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.login_page_sec .login_form .heading{
    text-align: center;
}
.login_page_sec .login_form .heading h3{
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.72px;
}
.login_page_sec .login_form .heading h6{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
    padding-bottom: 16px;
}
.login_page_sec .login_form .form_sec{
    border-radius: 30px;
    border: 1px solid #1B3B52;
    background: rgba(255, 255, 255, 0.03);
    padding: 60px 55px;
}
.login_page_sec .form_sec .form-group.formbold input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #F5F5F5;
    border-radius: 16px;
    margin-bottom: 22px;
    padding-left: 24px;
    color: #fff;
}
.login_page_sec.user .form_sec .form-group.formbold input{
    color: #000;
}
.login_page_sec .form_sec .form-group.formbold input:focus{
    outline: 0;
    box-shadow: none;
}
.login_page_sec .form_sec .form-group.formbold input::placeholder{
    color: #fff;
}
.login_page_sec .form_sec .form-group.formbold label{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
    padding-bottom: 12px;
}
.login_page_sec .form_sec .form-group.formbold label sup{
    color: #FF1818;
}
.login_page_sec .form_sec .form-group.btm_part{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 8px;
}
.login_page_sec .form_sec .form-group.submit_btn button{
    width: 100%;
    height: 54px;
    border-radius: 16px;
    background-color: #D72856;
    color: #fff;
    border: 2px solid #D72856;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s;
} 
.login_page_sec .form_sec .form-group.submit_btn button:hover{
    background-color: #157cc0;
    border: 2px solid #157cc0;
}

.login_page_sec .form_sec a.form-recovery {
    font-size: 14px;
    font-weight: 400;
    color: #fff !important;
}
.login_page_sec .form_sec label.form-remember input[type="checkbox"] {
    margin-right: 10px;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    margin-top: 1px;
}
.login_page_sec .form_sec label.form-remember {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
}
.login_page_sec .form_sec .form-group.formbold.pass {
    position: relative;
}


.login_page_sec.user .form_sec .form-group.formbold.pass::before {
    filter: invert(0);
}





.login_page_sec.user{
    background-color: #fff;
}
.login_page_sec.user .login_form .form_sec {
    border-radius: 30px;
    border: 1px solid #EBEBEB;
    background: rgba(217, 217, 217, 0.03);
}
.login_page_sec.user .login_form .heading h3 {
    color: #000;
}
.login_page_sec.user .login_form .heading h6 {
    color: #000;
}
.login_page_sec.user .form_sec .form-group.formbold label {
    color: #000;
}
.login_page_sec.user .form_sec .form-group.formbold input {
    border: 1px solid #E2E2E2;
}
.login_page_sec.user .form_sec .form-group.formbold input:focus{
    outline: 0;
    box-shadow: none;
}
.login_page_sec.user .form_sec .form-group.formbold input::placeholder{
    color: #000;
}
.login_page_sec.user .form_sec label.form-remember {
    color: #000;
}
.login_page_sec.user .form_sec a.form-recovery {
    color: #000 !important;
}








/**dashboard_sec css starts**/


.dashboard_sec {
    /* position: relative; */
    z-index: 3;
    margin-top: 45px;
    margin-left: 80px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 55px;
    padding-bottom: 200px;
    background-color: #f5f5f5;
}
.dashboard_sec .row{
    justify-content: space-between;
}
.dashboard_sec .left_sec{
    width: 78%;
    max-width: 78%;
    flex: 0 0 78%;
    padding-right: 30px;
}
.dashboard_sec .left_sec .top_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.dashboard_sec .left_sec .heading h2{
    color: #000;
    font-family: "Open Sans Condensed" !important;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.dashboard_sec .right_sec{
    width: 22%;
    max-width: 22%;
    flex: 0 0 22%;
    padding-left: 15px;
    margin-top: 83px;
    
}

.dashboard_sec .right_sec .main_box{
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 20px 30px 20px;
}
.dashboard_sec .right_sec .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
}
.dashboard_sec .right_sec .box .txt{
    display: flex;
    align-items: center;
}
.dashboard_sec .right_sec .box .txt img.icon{
    width: 40px;
    margin-right: 12px;
}
.dashboard_sec .right_sec .box:last-child{
    margin-bottom: 10px;
}
.dashboard_sec .right_sec .box h6{
    margin-bottom: 0px;
}
.dashboard_sec .right_sec .box h3{
    margin-bottom: 0px;
    font-size: 42px;
    font-weight: 800;
}
.dashboard_sec .right_sec .box.pink h3{
    color: #ED186A;
}
.dashboard_sec .right_sec .box.green h3{
    color: #34A853;
}
.dashboard_sec .right_sec .box.yellow h3{
    color: #FBBC05;
}
.dashboard_sec .left_sec .heading h2{
    color: #000;
}

.dashboard_sec .left_sec .search input#Keywords {
    width: 520px;
    height: 48px;
    border-radius: 60px;
    background-color: #fff;
    border: 0px;
    padding-left: 58px;
}
.dashboard_sec .left_sec .search{
    width: 520px;
    height: 48px;
    position: relative;
}
.dashboard_sec .left_sec .search::before {
    content: '';
    position: absolute;
    background-image: url(assets/images/search_icon.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    width: 20px;
    height: 25px;
    top: 11px;
    left: 20px;
    z-index: 4;
    background-position: 0px center;
}

.dashboard_sec .left_sec .search input#Keywords:focus{
    box-shadow: none;
    outline: none;
}
.dashboard_sec .left_sec .search input#Keywords::placeholder{
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-weight: 400;
    margin-top: -8px;
}
.dashboard_sec .left_sec table {
    width: 100%;
    border-spacing: 0px 10px;
    border-collapse: collapse;
    border-collapse: separate;
}
/*
.dashboard_sec .left_sec .table thead{
    background-color: #017ACD;
    border-radius: 12px;
    height: 46px;
}
*/
.dashboard_sec .left_sec .table thead th {
    border: 0px;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #017ACD;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}
.dashboard_sec .left_sec .table thead th:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    align-items: center;
    height: 47px;
}
.dashboard_sec .left_sec .table thead th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.dashboard_sec .left_sec .table tr{
    border: 0px;
    height: 46px;
}
.dashboard_sec .left_sec .table tbody th, .dashboard_sec .left_sec .table td {
    border: 0px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    font-weight: 600;
    color: #000;
    background-color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    font-weight: 600;
}
.dashboard_sec .left_sec .table tbody td h6{
    margin-bottom: 0px;
    font-size: 12px;
}
.dashboard_sec .left_sec .table tbody td h6 img.profile_pic{
    width: 27px;
    margin-right: 12px;
    border-radius: 50%;
}
.dashboard_sec .left_sec .table thead th:nth-child(5){
    text-align: center;
}
.dashboard_sec .left_sec .table thead th:nth-child(6){
    text-align: center;
}
.dashboard_sec .left_sec .table thead th:nth-child(7){
    text-align: center;
}

.dashboard_sec .left_sec .table tr td:nth-child(5){
    text-align: center;
}
.dashboard_sec .left_sec .table tr td:nth-child(6){
    text-align: center;
}
.dashboard_sec .left_sec .table tr td:nth-child(7){
    text-align: center;
}
.dashboard_sec .left_sec .table tr td img.icon{
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard_sec .left_sec .table tbody td button{
    width: 62px;
    height: 24px;
    border-radius: 6px;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.6px;
    text-align: center;
    line-height: 12px;
    border: 0px;
}
.dashboard_sec .left_sec .table tbody td button.new{
    background-color: #9886F4;
}
.dashboard_sec .left_sec .table tbody td button.pending{
    background-color: #FBBC05;
}
.dashboard_sec .left_sec .table tbody td button.complete{
    background-color: #54FA80;
}
.dashboard_sec .left_sec .table tbody td input[type="checkbox"]{
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
}
.dashboard_sec .left_sec .table tbody tr td:first-child{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.dashboard_sec .left_sec .table tbody tr td:last-child{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}



.dashboard_sec .left_sec .pagination_sec {
    padding-top: 5px;
    padding-bottom: 30px;
    justify-content: flex-end;
}
.dashboard_sec .left_sec .pagination_sec a.click {
    width: 34px;
    height: 32px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard_sec .left_sec .pagination_sec a.click img {
    width: 15px;
    height: auto;
}
.dashboard_sec .left_sec .pagination{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dashboard_sec .left_sec .pagination ul {
    list-style-type: none;
    display: flex;
    font-size: 100%;
    margin: 0px;
    padding-left: 3px;
    padding-right: 3px;
}
.dashboard_sec .left_sec .pagination ul li a {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-left: 3px;
    margin-right: 3px;
}
.dashboard_sec .left_sec .pagination ul li a.current{
    background-color: #017ACD;
    color: #fff;
}






.footer_logosec{
    background-color: #252525;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 80px;
}
.footer_logosec .footer_logo{
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}
.footer_logosec .footer_logo img{
    width: 100%;
}




.copyright_sec{
    background-color: #2D2D2D;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 80px;
}
.copyright_sec p{
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
    color: #F5F5F5;
    opacity: 0.7;
    text-align: center;
}
span.mobile-d-none {
    width: 60px;
    display: inline-block;
}
.copyright_sec p img.logo {
    margin-left: 6px;
}





.ticket_details_sec {
    position: relative;
    z-index: 3;
    margin-top: 45px;
    margin-left: 80px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 55px;
    padding-bottom: 70px;
    background-color: #f5f5f5;
}
.ticket_details_sec .row{
    justify-content: space-between;
}
.ticket_details_sec .left_sec .heading{
    padding-bottom: 32px;
}
.ticket_details_sec .left_sec .heading h2{
    color: #000;
    font-family: "Open Sans Condensed";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.ticket_details_sec .left_sec .heading h2 span{
    font-weight: 700;
}
.ticket_details_sec .left_sec {
    width: 65%;
    max-width: 65%;
    flex: 0 0 65%;
    padding-right: 10px;
}
.ticket_details_sec .right_sec {
    width: 34%;
    max-width: 34%;
    flex: 0 0 34%;
    padding-left: 15px;
    margin-top: 76px;
}
.ticket_details_sec .right_sec .about_ticketbox{
    border-radius: 30px;
    background: #FFF;
    padding: 40px 25px 55px 25px;
}


.ticket_details_sec .about_ticketbox .button a{
    width: 100%;
    height: 56px;
    border-radius: 20px;
    background-color: #017ACD;
    box-shadow: 0px 4px 12px 0px rgba(5, 153, 255, 0.28), 0px 1px 1px 0px #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: .25s;
}
.ticket_details_sec .about_ticketbox .button a:hover{
    background-color: #D72856;
}

.ticket_details_sec .about_ticketbox .button a img{
    width: 25px;
    margin-right: 12px;
}
.ticket_details_sec .about_ticketbox .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    margin-top: 25px;
    height: 56px;
    padding-left: 20px;
    padding-right: 20px;
}
.ticket_details_sec .about_ticketbox .box .heading{
    width: 38%;
    max-width: 38%;
    flex: 0 0 38%;
}
.ticket_details_sec .about_ticketbox .box .details{
    width: 60%;
    max-width: 60%;
    flex: 0 0 60%;
}
.ticket_details_sec .about_ticketbox .box .heading h5{
    margin-bottom: 0px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
.ticket_details_sec .about_ticketbox .box .details h6{
    margin-bottom: 0px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
.ticket_details_sec .about_ticketbox .box .details h6{
    display: flex;
    align-items: center;
}
.ticket_details_sec .about_ticketbox .box .details h6 span{
    font-size: 12px;
    font-weight: 600;
}
.ticket_details_sec .about_ticketbox .box .details h6 img.profile_pic{
    width: 35px;
    margin-right: 8px;
    border-radius: 50%;
}
.ticket_details_sec .about_ticketbox .box .details h6 button{
    width: 62px;
    height: 24px;
    border-radius: 6px;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.6px;
    text-align: center;
    line-height: 12px;
    border: 0px;
}
.ticket_details_sec .about_ticketbox .box .details h6 button.new{
    background-color: #9886F4;
}



.ticket_details_sec .left_sec .chatbox_container{
    border-radius: 30px;
    background: #FFF;
    padding: 50px 30px 40px 30px;
    overflow: hidden;
    /*    height: 770px;*/
}
.ticket_details_sec .left_sec .chat_box {
    max-height: 660px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    overflow-y: scroll;
    margin-right: -47px;
    padding-right: 30px;
}
.ticket_details_sec .left_sec .chat_box .message-box{
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 8px;
}
.ticket_details_sec .left_sec .message-box .txt .time{
    color: #8A8F98;
    font-size: 10px;
    font-weight: 500;
}
.ticket_details_sec .left_sec .message-box .profile_pic img {
    width: 25px;
    border-radius: 50%;
    margin-top: -8px;
}
.ticket_details_sec .left_sec .chat_box .message-box.my-message {
    justify-content: flex-end;
    max-width: 65%;
    margin-left: auto;
}
.ticket_details_sec .left_sec .chat_box .message-box.friend-message{
    justify-content: flex-start;
    max-width: 60%;
    margin-right: auto;
}

.ticket_details_sec .left_sec .message-box.my-message .profile_pic{
    order: 1;
    margin-left: 10px;
}
.ticket_details_sec .left_sec .message-box.my-message .txt{
    text-align: right;
}
.ticket_details_sec .left_sec .message-box.my-message .message{
    border-radius: 10px 0px 10px 10px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 18px 10px 28px;
}

.ticket_details_sec .left_sec .message-box .message p{
    margin-bottom: 0px;
    color: #000;
    font-size: 13px;
    font-weight: 600;
}
.ticket_details_sec .left_sec .message-box.friend-message .message{
    padding: 10px 30px 10px 18px;
    border-radius: 0px 10px 10px 10px;
background: var(--gradent-1, linear-gradient(117deg, #50A0D7 18.8%, #017ACD 101.68%));
box-shadow: 0px 10px 8px 0px #E8F5FF;
}
.ticket_details_sec .left_sec .message-box .txt .time{
    padding-bottom: 3px;
}
.ticket_details_sec .left_sec .message-box.friend-message .profile_pic {
    margin-right: 10px;
}
.ticket_details_sec .left_sec .message-box.friend-message .message p {
    color: #fff;
}

.ticket_details_sec .left_sec .message-box .message .pdf_upload{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 12px;
}
.ticket_details_sec .left_sec .message-box .message .pdf_upload a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    padding-left: 25px;
    position: relative;
}
.ticket_details_sec .left_sec .message-box .message .pdf_upload a::before {
    content: '';
    position: absolute;
    background-image: url(assets/images/pdf_upload_icon.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    width: 13px;
    height: 14px;
    z-index: 3;
    left: 3px;
    top: 3px;
}
.ticket_details_sec .left_sec .message-box .message .pdf_upload a{
    margin-left: 27px;
}
.ticket_details_sec .left_sec .message-box .message .pdf_upload a:first-child{
    margin-left: 0px;
}



.ticket_details_sec .left_sec .bottom_sec{
    padding-top: 18px;
    border-top: 2px solid #E3E3E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    margin-top: 20px;
}
.ticket_details_sec .left_sec .bottom_sec .file-loading{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: var(--gradent-1, linear-gradient(117deg, #50A0D7 18.8%, #017ACD 101.68%));
    box-shadow: 0px 10px 8px 0px #E8F5FF;
    position: relative;
    margin-right: 25px;
}
.ticket_details_sec .left_sec .bottom_sec .file-loading:hover{
    cursor: pointer;
}
.ticket_details_sec .left_sec .bottom_sec .file-loading::before {
    content: '';
    position: absolute;
    width: 15px;
    background-image: url(assets/images/plus.png);
    background-repeat: no-repeat;
    background-size: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ticket_details_sec .left_sec .bottom_sec .file-loading input#multiplefileupload {
    opacity: 0;
    width: 39px;
    height: 39px;
}
.ticket_details_sec .left_sec .bottom_sec .file-loading input#multiplefileupload:hover{
    cursor: pointer;
}
.ticket_details_sec .left_sec .bottom_sec .box{
    display: flex;
    align-items: center;
}

.ticket_details_sec .left_sec .bottom_sec .type_message input#Keywords {
    border: 0px;
    width: 800px;
    height: 39px;
    padding-left: 0px;
}

.ticket_details_sec .left_sec .bottom_sec .type_message .form-control{
    font-size: 14px;
}
.ticket_details_sec .left_sec .bottom_sec .type_message input#Keywords:focus{
    outline: 0;
    box-shadow: none;
}
.ticket_details_sec .left_sec .bottom_sec .type_message input#Keywords::placeholder{
    color: rgba(0, 0, 0, 0.80);
    font-size: 14px;
    font-weight: 400;
}

.ticket_details_sec .left_sec .bottom_sec .submit_btn button#form-submit {
    background-color: transparent;
    border: 0px;
}
.ticket_details_sec .left_sec .bottom_sec .submit_btn button#form-submit img{
    width: 22px;
}






.ticket_details_sec.media .right_sec .all_mediabox {
    border-radius: 30px;
    background: #FFF;
    padding: 90px 25px 50px 30px;
}
.ticket_details_sec.media .right_sec .all_mediabox .heading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    border-radius: 30px 30px 0px 0px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.ticket_details_sec.media .right_sec .all_mediabox .heading h3{
    color: #00233B;
font-size: 16px;
font-weight: 800;
    margin-bottom: 0px;
}
.ticket_details_sec.media .right_sec .all_mediabox ul{
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;
}
.ticket_details_sec.media .right_sec .all_mediabox ul li{
    padding-top: 12px;
    padding-bottom: 12px;
}
.ticket_details_sec.media .right_sec .all_mediabox ul li:first-child{
    padding-top: 0px;
}
.ticket_details_sec.media .right_sec .all_mediabox ul li a{
    text-decoration: none;
    color: #00233B;
    font-size: 13px;
    font-weight: 600;
    padding-left: 22px;
    position: relative;
    transition: .25s;
}
.ticket_details_sec.media .right_sec .all_mediabox ul li a:hover{
    color: #D72856;
}
.ticket_details_sec.media .right_sec .all_mediabox ul li a::before {
    content: '';
    position: absolute;
    background-image: url(assets/images/pdf_upload_icon.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    width: 13px;
    height: 14px;
    z-index: 3;
    left: 0px;
    top: 3px;
    filter: invert(1);
    transition: .25s;
}
.ticket_details_sec.media .right_sec .all_mediabox ul li a:hover::before{
    filter: invert(77%) sepia(92%) saturate(2785%) hue-rotate(330deg) brightness(88%) contrast(90%);
}


.ticket_details_sec.media .right_sec .all_mediabox button.btn.btn-close-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.ticket_details_sec.media .right_sec .all_mediabox button.btn.btn-close-icon:focus{
    outline: 0;
    box-shadow: none;
}



.dashboard_sec .left_sec .table {
    overflow-x: auto;
}


.dashboard_sec .left_sec table {
    white-space: nowrap!important;
}





.element:-webkit-full-screen {
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5 !important; 
}


.ticket_details_sec .right_sec{
    position: relative;
}

.Lesfichiersbody{
     position: absolute;
  color: #FFF;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  transition: .25s;
  z-index: 999;
  transform: scale(0,0);
}






/**admin_dashboard page css starts**/

.admin_dashboard_sec {
    /* position: relative; */
    z-index: 3;
    margin-top: 48px;
    margin-left: 80px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 60px;
    padding-bottom: 200px;
    background-color: #f5f5f5;
}
.admin_dashboard_sec .left_sec .top_sec .heading h2 {
    color: #000;
    font-family: "Open Sans Condensed";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 40px;
}
.admin_dashboard_sec .left_sec .top_sec{
    margin-bottom: 30px;
}
.admin_dashboard_sec .left_sec {
    width: 78%;
    max-width: 78%;
    flex: 0 0 78%;
    padding-right: 30px;
}
.admin_dashboard_sec .left_sec .col-lg-6.right{
    padding-left: 16px;
}
.admin_dashboard_sec .left_sec .col-lg-6.left{
    padding-right: 16px;
}
.admin_dashboard_sec .left_sec .box .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: #017ACD;
    padding-left: 22px;
    padding-right: 22px;
    min-height: 46px;
    margin-bottom: 10px;
}
.admin_dashboard_sec .left_sec .box .heading{
    
}
.admin_dashboard_sec .left_sec .box.users .heading{
    background-color: #00233B;
}
.admin_dashboard_sec .left_sec .box .heading h4{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.admin_dashboard_sec .left_sec .box .heading a{
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.admin_dashboard_sec .left_sec .box .list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    background-color: #fff;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 14px;
    margin-bottom: 10px;
}
.admin_dashboard_sec .left_sec .box .list .name{
    display: flex;
    align-items: center;
}
.admin_dashboard_sec .left_sec .box .list .name h6{
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.admin_dashboard_sec .left_sec .box .name input[type="checkbox"] {
    width: 12px;
    height: 12px;
    border: 1px solid #d9d9d9;
    margin-right: 20px;
}
.admin_dashboard_sec .left_sec .box .email{
    font-size: 13px;
    font-weight: 400;
    color: #000;
}
.admin_dashboard_sec .left_sec .box .edit button{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: .25s;
}
.admin_dashboard_sec .left_sec .box .edit button img{
    width: 14px;
    transition: .25s;
    filter: invert(99%) sepia(0%) saturate(1307%) hue-rotate(175deg) brightness(105%) contrast(70%);
}
.admin_dashboard_sec .left_sec .box .edit button:hover{
    background-color: #f5f5f5;
}
.admin_dashboard_sec .left_sec .box .edit button:hover img{
    filter: invert(12%) sepia(14%) saturate(6869%) hue-rotate(178deg) brightness(90%) contrast(102%);
}



.admin_dashboard_sec .right_sec {
    width: 22%;
    max-width: 22%;
    flex: 0 0 22%;
    padding-left: 15px;
    margin-top: 70px;
}


.admin_dashboard_sec .right_sec .main_box{
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 20px 30px 20px;
}
.admin_dashboard_sec .right_sec .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
}
.admin_dashboard_sec .right_sec .box .txt{
    display: flex;
    align-items: center;
}
.admin_dashboard_sec .right_sec .box .txt img.icon{
    width: 40px;
    margin-right: 12px;
}
.admin_dashboard_sec .right_sec .box:last-child{
    margin-bottom: 10px;
}
.admin_dashboard_sec .right_sec .box h6{
    margin-bottom: 0px;
}
.admin_dashboard_sec .right_sec .box h3{
    margin-bottom: 0px;
    font-size: 42px;
    font-weight: 800;
}
.admin_dashboard_sec .right_sec .box.pink h3{
    color: #ED186A;
}
.admin_dashboard_sec .right_sec .box.green h3{
    color: #34A853;
}
.admin_dashboard_sec .right_sec .box.yellow h3{
    color: #FBBC05;
}




/**popup modalbox css**/

.modal-dialog {
    max-width: 800px;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 100px;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    outline: 0;
    height: 100%;
    border: 0;
}
.modal-header{
    border: 0px;
    border-radius: 30px;
    background-color: #F5F5F5;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}
.modal-header button.btn-close-icon {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    right: 38px;
    padding: 0px;
}
.modal-header button.btn-close-icon:focus{
    box-shadow: none;
    outline: 0;
}
.modal-header button.btn-close-icon img{
    width: 16px;
}


h5.modal-title{
    font-size: 19px;
    font-weight: 800;
    color: #00233B;
    margin-bottom: 0px;
}
.modal-body{
    padding: 30px 40px 50px 40px;
}
.modal-body .formbold {
    margin-bottom: 25px;
}
.modal-body .formbold-form-input {
    width: 100%;
    height: 46px;
    border-radius: 16px;
    border: 0px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid #00233B;
}
.modal-body .formbold-form-input:focus{
    outline: 0;
    box-shadow: none;
}
.modal-body label.formbold-form-label {
    font-size: 14px;
    font-weight: 400;
    color: #00233B;
    padding-bottom: 8px;
}
.modal-body label.formbold-form-label sup{
    color: #FF1818;
}
.modal-body .button{
    padding-top: 10px;
}
.modal-body button.formbold-btn {
    width: 100%;
    height: 54px;
    border-radius: 16px;
    background-color: #D72856;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s;
}
.modal-body button.formbold-btn:hover{
    background-color: #00233B;
}

.modal-body button.formbold-btn.remove{
    background-color: #000;
    transition: .25s;
}
.modal-body button.formbold-btn.remove:hover{
    background-color: #017ACD;
}

.login_page_sec .form_sec .form-group.formbold.pass button.pass_show {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    position: absolute;
    top: 45px;
    right: 20px;
}
.login_page_sec .form_sec .form-group.formbold.pass button.pass_show img{
    width: 18px;
    filter: invert(1);
}
.login_page_sec.user .form_sec .form-group.formbold.pass button.pass_show img{
    filter: invert(0);
}



/*New Css 26-02-2024*/

.add-new-tkitsec{
    display: flex;
    align-items: center;
}
.add-new-tkitbtn{
    margin-left: 25px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED186A;
    border: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.add-new-tkitbtn:hover{
    background-color: #017ACD;
}

.add-new-tkitbtn span{
    margin-right: 5px;
}

.dashboard_sec .left_sec .search input#Keywords{
    width: 410px;
    padding-left: 45px;
}

.dashboard_sec .left_sec .search{
    width: 410px;
}
.dashboard_sec .right_sec .main_box{
    padding: 20px;
}
.modal-header{
    border-radius: 30px 30px 0 0;
}

h5.modal-title{
    font-size: 22px;
    font-weight: 700;
    color: #00233B;
}
.modal-body label.formbold-form-label{
    font-weight: 600;
    color: #000;
}

.modal-body .formbold-form-input{
    border-radius: 12px;
}
.modal-body .formbold{
    margin-bottom: 15px;
}
.modal-body button.formbold-btn{
    height: 48px;
}

.modal .modal-dialog{
    width: 675px;
}


.modal-body textarea.formbold-form-input{
    height: 120px;
}


.formselectbold [type="radio"]:checked,
.formselectbold [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.formselectbold [type="radio"]:checked + label,
.formselectbold [type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: #666;
}

.formselectbold [type="radio"]:not(:checked) + label{
    opacity: .4;
}
.formselectbold [type="radio"]:checked + label{
    opacity: 1;
}

.StatutPopupaddnew label{
    width: 62px;
    height: 24px;
    border-radius: 6px;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.6px;
    text-align: center;
    line-height: 24px;
    border: 0px;
}

.StatutPopupaddnew .addpopupNouveau label{
    background-color: #9886F4;
    color: #FFF !important;
}


.StatutPopupaddnew .addpopupEncours label{
    background-color: #FBBC05;
    color: #FFF !important;
}
.StatutPopupaddnew .addpopupcloture label{
    background-color: #54FA80;
    color: #FFF !important;
}

.modal-body button.formbold-btn.savechanges{
    background-color: #34A853;
}
.modal-body button.formbold-btn.savechanges:hover{
    background-color: #FBBC05;
}


.dashboard_sec .left_sec .table tbody td button.btn-edit{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: none;
    transition: .25s;
    padding: 0px;
    text-align: center;
    line-height: 28px;
}

.dashboard_sec .left_sec .table tbody td button.btn-edit img {
    width: 14px;
    transition: .25s;
    filter: invert(99%) sepia(0%) saturate(1307%) hue-rotate(175deg) brightness(105%) contrast(70%);
}

.dashboard_sec .left_sec .table tbody td button.btn-edit:hover {
    background-color: #f5f5f5;
}

.dashboard_sec .left_sec .table tbody td button.btn-edit:hover img {
    filter: invert(12%) sepia(14%) saturate(6869%) hue-rotate(178deg) brightness(90%) contrast(102%);
}








.dashboard_sec .left_sec .table tbody td button.btn-delete{
    height: auto;
    width: auto;
    width: 16px;
    margin-left: 12px;
    padding: 0px;
    
}
.dashboard_sec .left_sec .table tbody td button.btn-delete img{
    width: 16px;
    opacity: .5;
}

.dashboard_sec .left_sec .table tbody td button.btn-delete:hover img{
   opacity: 1; 
}

.dashboard_sec .left_sec .table tbody td button.btn-delete img{
    filter: invert(13%) sepia(89%) saturate(3708%) hue-rotate(353deg) brightness(89%) contrast(121%);
}

.dashboard_sec .left_sec .table tbody td button.btn-chat{
    height: auto;
    width: auto;
    width: 16px;
    margin-right: 12px;
    padding: 0px;
}







/*

.modal-body button.formbold-btn.remove{
    background-color: #bb0000;
}


.modal-body button.formbold-btn.remove:hover{
   background-color: #f10404; 
}
*/


.fournisseur-btn{
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED186A;
    border: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 47px;
    width: 100%;
}
.fournisseur-btn:hover{
    background-color: #000;
    color: #FFF;
}

.fournisseur-table{
    padding-top: 10px;
}


.fournisseur-table table{
    width: 100%;
}

.fournisseur-table table tr{
    border: 0px;
}

.fournisseur-table td{
    width: auto;
    text-align: center;
    padding: 5px;
    border: 0px;
}
.fournisseur-table table  td button.btn-edit{
    height: auto;
    width: auto;
    width: 16px;
    padding: 0px;
}
.fournisseur-table table  td button.btn-delete{
    height: auto;
    width: auto;
    width: 16px;
    margin-left: 12px;
    padding: 0px;
    
}

.admin_dashboard_sec .left_sec.mds-w-100{
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}

.list-right-section{
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_dashboard_sec .box button.btn-delete{
       width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: .25s;
    padding: 0px;
    
}
.admin_dashboard_sec .box button.btn-delete img{
    width: 14px;
    opacity: .5;
}

.admin_dashboard_sec .box button.btn-delete:hover img{
   opacity: 1; 
}

.admin_dashboard_sec .box button.btn-delete img{
    filter: invert(13%) sepia(89%) saturate(3708%) hue-rotate(353deg) brightness(89%) contrast(121%);
}

.list-left-section{
    width:auto;
    flex: 1;
    display: flex;
    align-items: center;
}

.admin_dashboard_sec .left_sec .box .name input[type="checkbox"]{
    margin-right: 7px;
}
.admin_dashboard_sec .left_sec .box .list .name{
    width: 22%;
}

.listlogo-icon{
    width: 46px;
    height: 46px;
    padding: 10px;
    margin-right: 20px;
}
.listlogo-icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.list-email{
    margin-right: 25px;
}
.list-email img{
    margin-right: 3px;
    width: 15px;
}
.list-telephone img{
    margin-right: 3px;
    width: 14px;
}


.admin_dashboard_sec .box .list a{
    text-decoration: none;
    color: #000;
}

.admin_dashboard_sec .box .list a:hover{
    color: #D72856;
}

.listprofilepic{
    width: 46px;
    height: 46px;
    padding: 10px;
    margin-right: 20px;
}

.listprofilepic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*

div#exampleModal {
    display: block !important;
    opacity: 1;
    background-color: #000;
}


div#exampleModal .modal-dialog{
    transform: none;
}
*/



.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


/* file upload button */
input[type="file"]{
    width: 100%;
    height: 46px;
    border-radius: 12px;
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #00233B;
}
input[type="file"]::file-selector-button {
  border-radius: 10px 0 0 10px;
  padding: 0 16px;
  height: 46px;
  cursor: pointer;
  background-color: white;
  border: 0px solid #00233B;
  margin-right: 16px;
  transition: background-color 200ms;
    background-color: #00233B;
    color: #FFF;
    line-height: 42px;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #000;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #000;
}

.filechoose em{
    margin-top: 5px;
    opacity: .8;
    font-size: 11px;
    display: block;
}


.modal-body{
    padding-bottom: 40px;
}
.modal-header{
    height: 60px;
}




























